:root {
  --size-bezel: 1rem;
  --size-radius: 4px;
}

html {
  font-size: 12px;
}

body {
  padding-inline: 0.4em;
}

.main-container {
  display: grid;
}

.card {
  padding: var(--size-bezel);
  margin: var(--size-bezel) 0;
  border-radius: var(--size-radius);
  border: 3px solid;
}

.button {
  height: max-content;
  width: max-content;
  background: white;
  color: #2563eb;
  text-align: left;
  border: none;
  cursor: pointer;
  margin: 1em 0 0.6em 0;
}

ul {
  padding-inline: 1rem;
}

.list-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.list-item:before {
  content: "\2022";
  position: absolute;
  left: -18px;
}
.list-item button {
  margin-block: 0.4rem;
}

@media (min-width: 400px) {
  :root {
    --size-bezel: 2rem;
  }

  html {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  html {
    font-size: 16px;
  }

  body {
    padding-inline: 1em;
  }
}

@media (min-width: 1200px) {
  body {
    display: grid;
    place-content: center;
  }

  .main-container {
    grid-template-columns: 400px 700px;
    column-gap: 2rem;
  }
}

@media print {
  .form-container {
    display: none;
  }

  .resumepreview {
    margin: 0;
    height: max-content;
  }

  .savecv {
    display: none;
  }
}
