.form-container h1,
h2 {
  font-weight: 900;
}

.form-container a {
  color: #2563eb;
}

.input__label {
  display: block;
  font-weight: bold;
  padding: 1em 0 0.4em 0;
}

.input__field {
  width: 100%;
  border: 3px solid;
  padding: 0.75rem;
  border-radius: var(--size-radius);
}

.input__field:focus {
  outline: none;
  border-color: #2563eb;
}

.education-item p {
  margin-block: 0.2rem;
}

.input__field[id="responsibility"] {
  resize: none;
  overflow-y: auto;
}
